@import url("nullstyle.css");
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


body {

}
.wrapper {
	font-family: 'Inter';
}
[class*="__container"] {
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */

.header__container {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	justify-content: space-between;
	padding: 25px 0;
	align-items: center;
}

.header__logo {
	font-size: 60px;
	font-weight: 700;
	letter-spacing: -10px;
}

.header__list {
	display: flex;
	column-gap: 30px;
	font-size: 20px;
	align-items: center;
}
.header__item:nth-child(3) {
	background-color: #2680EB;
	padding: 10px;
	border-radius: 20px;
	color: #fff;
	font-weight: 700;
}

/* Hero Section */

.hero__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 35px 25px;
	background-color: #d6d6d6;
	border-radius: 30px;
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
	align-items: center;
}
.hero__title {
	font-size: 70px;
	margin-bottom: 20px;
	font-weight: 700;
}
.hero__subtitle {
	font-size: 30px;
	margin-bottom: 50px;
}
.hero__input {
	background-color: #2680EB;
	border-radius: 30px;
	padding: 25px;
	font-size: 20px;
	color: #fff;
}
.hero__input::placeholder {
	font-size: 20px;
	color: #fff;
}
.hero__comments {
	background-color: #7e7e7e;
	width: 40%;
	height: 450px;
	border-radius: 30px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	overflow-y: auto;
}
.hero__wrapper {
}
.comment__user {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}
.comment__text {
	font-size: 14px;
}
.hero__comment {
	background-color: #2680EB;
	border-radius: 10px;
	padding: 10px;
	color: #fff;
	font-weight: 300;
}
.comment__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero__submit {
	background-color: #17539c;
	color: #fff;
	padding: 10px;
	border-radius: 15px;
	margin-top: 20px;
	font-size: 20px;
}

/* Login Section */

.login__wrapper {
	background-color: #d6d6d6;
	margin-top: 30px;
	border-radius: 30px;
	padding: 25px;
}
.login__title {
	font-size: 40px;
	margin-bottom: 30px;
	font-weight: 700;
	color: #fff;
}
.login__form {
	display: flex;
	flex-direction: column;
	width: 40%;
	background-color: #7e7e7e;
	padding: 20px;
	border-radius: 20px;
}
.login__input {
	padding: 15px;
	border-radius: 15px;
	border: 1px solid #ccc;
	font-size: 18px;
	margin-bottom: 20px;
}
.login__submit {
	background-color: #2680EB;
	color: #fff;
	padding: 15px;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 600;
	border: none;
	cursor: pointer;
	display: block;
}